body {
    text-align: center;
    background-color: black;
    color: aliceblue;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}

div {
    text-decoration: none;
    height: 400px;
    width: 500px;
    background-color: aqua;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



a {
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background-color: rgb(227, 196, 255);
    font-size: 28px;
    border-radius: 20px;
    margin-top: 10%;

}